<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.online.cgform.mapper.OnlCgformHeadMapper">

	<!-- 执行ddl语句 -->
	<update id="executeDDL" parameterType="java.lang.String">
		${sqlStr}
	</update>
	
	
	<!-- 执行查询语句 -->
	<select id="queryList" parameterType="java.lang.String" resultType="java.util.HashMap">
		${sqlStr}
	</select>

</mapper>